#!/usr/bin/make -f
#export DH_VERBOSE=1

export DEB_CFLAGS_MAINT_APPEND  = -fPIE
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,now

%:
	dh $@ --with autoreconf,python2

override_dh_autoreconf:
	dh_autoreconf ./bootstrap.sh

override_dh_installinit:
	dh_installinit -p core-network-daemon -o core-daemon --name=core-daemon

override_dh_compress:
	dh_compress -X.py -Xsample
